<!DOCTYPE html>
 
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<meta content="" name="author">
	<link href="" rel="shortcut icon">
 
	<title>Sign Up page</title>
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
</head>

<body>

<div class="container">
<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
<fieldset>
<legend class="text-center">Registration Form For Patient</legend>
			
<form  name="registration" action="registration.php" method="POST" >
   <div class="form-group">
              <label class="col-md-3 control-label" for="name">Full Name</label>
              <div class="col-md-9">
 
 <input name="name" type="text" value="" class="form-control" size="30"/> <br>
 </div>
  </div>
 
 <div class="form-group">
              <label class="col-md-3 control-label" for="name">Date Of Birth</label>
              <div class="col-md-9">
 <input name="dob" type="date" value="" class="form-control" size="10"/> <br>
 </div>
 </div>
 
 <div class="form-group">
              <label class="col-md-3 control-label" for="name">E-Mail</label>
              <div class="col-md-9">
 
 <input name="email" type="text" value="" class="form-control" size="30"/> <br>
</div>
</div>

<div class="form-group">
              <label class="col-md-3 control-label" for="name">Mobile No.</label>
              <div class="col-md-9"> 
 
 <input name="mobile" type="text" value="" class="form-control" size="10"/> <br> 
 </div>
 </div>
 
 <div class="form-group">
              <label class="col-md-3 control-label" for="name">Social Security Number</label>
              <div class="col-md-9">
 
 <input name="ssn" type="text" value="" class="form-control" size="20"/> <br> 
 </div>
 </div>
 
 <div class="form-group">
              <label class="col-md-3 control-label" for="name">Username</label>
              <div class="col-md-9">
 
 
 <input name="username" type="text" value="" class="form-control" size="30"/> <br> 
 </div>
 </div>
 
 <div class="form-group">
              <label class="col-md-3 control-label" for="name">Password</label>
              <div class="col-md-9">
 
 <input name="password" type="password" value="" class="form-control" size="30"/> <br>
 </div>
 </div>
 
 <div class="form-group">
              <label class="col-md-3 control-label" for="name">Re-Password</label>
              <div class="col-md-9">

  <input name="repassword" type="password" value="" class="form-control" size="30"/> <br>
 </div>
 </div>
 <!--
 <div class="form-group">
              <label class="col-md-3 control-label" for="name">Address</label>
              <div class="col-md-9">
<input name="address" type="text" value="" class="form-control" size="50"/> <br>
	</div>
	</div>
	-->
<div class="form-group">
              <label class="col-md-3 control-label" for="name">Gender</label>
              <div class="col-md-9">
	
	<label class="col-md-3 control-label" for="name">Male</label>
	<input type="radio" name="sex" class="form-control" value="male">
	<label class="col-md-3 control-label" for="name">Female</label>
	<input type="radio" name="sex" class="form-control"  value="female"><br>
	</div>
	</div>
	
<div class="form-group">
              <label class="col-md-3 control-label" for="name">Locality</label>
              <div class="col-md-9">
			  
	
	<input name="locality" type="text" value="" class="form-control" size="30"/><br>
	</div>
	</div>
	
	<div class="form-group">
              <label class="col-md-3 control-label" for="name">Area</label>
              <div class="col-md-9">
	
	<input name="area" type="text" value="" class="form-control" size="30"/> <br>
	</div>
	</div>
	
	<div class="form-group">
              <label class="col-md-3 control-label" for="name">City</label>
              <div class="col-md-9">
	
	<input name="city" type="text" value="" class="form-control" size="30"/> <br>
	</div>
	</div>
	
	<div class="form-group">
              <label class="col-md-3 control-label" for="name">State</label>
              <div class="col-md-9">
	
	<input name="state" type="text" value="" class="form-control" size="30"/> <br>
	</div>
	</div>
	
	
	
	<div class="form-group">
              <label class="col-md-3 control-label" for="name">PinCode</label>
              <div class="col-md-9">
	
	<input name="pin" type="text" value="" class="form-control" size="6"/> <br><br>
	</div>
	</div>
	
    <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-success btn-lg">Sign Up</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>
</body>
</html>